<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <script src="libs/underscore/underscore-min.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="src/tree-generator.js"></script>
</head>
<body ng-app="app">
<div ng-controller="Ctrl" class="container">

    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="col-xs-6">
                <tree-dctv></tree-dctv>
            </ul>
            <div class="col-xs-6">
                <input type="text" autofocus ng-model="search">
                <span class="label label-danger">count: {{treeData.config.count}}</span>
                <div ng-if="treeData.loading">loading...</div>
            </div>
        </div>
    </div>

</div>

<script>
    angular
            .module('app', ['app.treeGenerator'])
            .config(function (treeDataProvider) {
                treeDataProvider.itemsUrl = 'data/tree-2.json';
            })
            .controller('Ctrl', function ($scope, treeData) {
                $scope.$watch('search', function (newVal) {
                    treeData.search(newVal);
                });
            });

</script>
</body>
</html>