<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <script src="libs/underscore/underscore-min.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="js/data-provider.js"></script>
    <script src="js/tree-dctv.js"></script>
</head>
<body ng-app="app">
<div ng-controller="Ctrl" class="container">

    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="col-xs-6">
                <tree-dctv items="items" config="config"></tree-dctv>
            </ul>
            <div class="col-xs-6">
                <input type="text" autofocus ng-model="search">
                <span class="label label-danger">count: {{config.count}}</span>
                <div ng-if="loading">loading...</div>
            </div>
        </div>
    </div>

</div>

<script>
    angular
            .module('app', ['app.dataProvider', 'app.treeDctv'])
            .controller('Ctrl', function ($scope, dataProvider) {

                dataProvider.getItems(function (items) {
                    $scope.items = items;
                });

                $scope.$watch('search', function (newVal) {
                    $scope.loading = true;
                    dataProvider.delay(function () {
                        if (newVal) {
                            $scope.config = dataProvider.search(newVal);
                        } else {
                            $scope.config = dataProvider.setDefault();
                        }
                        $scope.loading = false;
                    });
                });
            });

</script>
</body>
</html>